@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: black;
}
h1{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    font-size: 10em;
    margin: 50px;
    margin-bottom: 80px;
    letter-spacing: 16px;
    mix-blend-mode: difference;
}
button{
    background-color: transparent;
    border: none;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 35px;
    border-radius: 8px;
    box-shadow: 0 0 0.6em white;
}
